/EE/OPT8241/Data
/EE/OPT8241/SCH_PCB/Original Design Doc
/EE/OPT8241/Software
/EE/Accel/FPGA_USB_FW/db
/EE/Accel/FPGA_USB_FW/greybox_tmp
/EE/Accel/Accel_FW_Sim/work
/EE/Accel/Accel_FW_Sim/Accel_FW_Sim.cr.mti
/EE/Accel/Accel_FW_Sim/vsim.wlf
/EE/Accel/Accel_ARM_FW/OBJ
/EE/Accel/Accel_ARM_FW/readme.txt
